// 修正頁面跳轉時的滾動行為，確保瞬間置頂而不是平滑滾動
html,
body {
    scroll-behavior: auto !important;
}


:lang(zh),
:lang(zh-TW),
:lang(zh-CN),
:lang(zh-HK) {
    font-family: 'Noto Sans TC', sans-serif;

}

:lang(en) {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}



h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0;
    letter-spacing: 0.02em;
}

h6 {
    margin-bottom: 0;
    letter-spacing: 0.1em;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

    // &:hover {
    //     color: $primary-400;
    // }
}

p {
    margin-bottom: 0;
    letter-spacing: 0.02em;
    font-weight: 400;
    line-height: 1.5;
}

.btn-dark {
    &:hover {
        background: linear-gradient(to right, rgba(0, 200, 255, 0.4), rgba(0, 104, 255, 0.4));
    }

}

.btn-outline-dark {
    &:hover {
        color: black;
        background: linear-gradient(to right, rgba(0, 200, 255, 0.4), rgba(0, 104, 255, 0.4));
    }
}