.product-spec {

  .color-label {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }

  .color-input:checked~.color-label {
    border: 4px solid black;
  }


  .overflow-y-box {
    max-height: 880px;

    @include mobile {
      max-height: 100%
    }
  }



  .overflow-y-scroll {
    scrollbar-width: none;
  }

  .overflow-y-scroll::-webkit-scrollbar {
    display: none;
  }


}