.shopping-cart {
  .shopping-cart-product-img {
    height: 100px;
    max-width: 100px;
    border-radius: 8px;
  }

  .cart-empty {
    padding-top: 152px;
    padding-bottom: 182px;

    @include mobile {
      padding-bottom: 152px;
    }
  }

  .progress-bar {
    .number-ball {
      width: 24px;
      height: 24px;
      display: grid;
      place-items: center;
    }

    .number-line {
      display: inline-block;
      width: 40px;
      height: 1px;
      background-color: $neutral-60;

      @include mobile {
        width: 24px;
      }
    }

  }
}